extends layout

block content
 h1 #{state.name}
 .card(style='width: 18rem;')
   .card-body
     h5.card-title #{state.translations.it}
    
   ul.list-group.list-group-flush
     li.list-group-item Capitale: #{state.capital}
     li.list-group-item Popolazione: #{state.population}
     li.list-group-item Nome in Giapponese #{state.translations.ja}
   .card-body
     a.card-link(href=`${state.wiki}` ,  target="_blank") Pagina Wikipedia